{% extends 'Auth/base.twig' %}
{% block title %}
Register

{% endblock %}
{% block inpagestyle %}
<style>
    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media(min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }


    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(10px);
        }

        75% {
            transform: translateX(-10px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .shake {
        animation: shake 0.5s;
    }
</style>
{% endblock %}
{% block content %}

<body class="d-flex align-items-center py-4 ">
    <!-- Custom styles for this template -->

    <main class="form-signin w-100 m-auto d-grid align-items-center h-100">
        <form id="loginForm" onsubmit='submitForm()'>
            <h1 class="h2 mb-4 fw-normal ">Reset Password</h1>

            <div class="alert alert-danger" id="errorContainer" role="alert" style="display:none;"></div>
            <div class="alert alert-success" id="successContainer" role="alert" style="display:none;"></div>
            <div class="container">

            </div>

            <div class="form-floating my-2">
                <input type="text" name="email" id="email" class="form-control " id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="button" id="submitBtn" onclick='submitForm()'>
                Reset Password</button>
            <p class="my-3 fw-normal text-start"><a class=" text-black" href="login">Already have
                    an
                    account?</a></p>
            <p class="mt-5 mb-3 ">2023</p>
        </form>
    </main>
</body>
{% endblock %}
{% block javscript %}

<script>
    var global;

    function submitForm() {
        var formData = {
            email: $('#email').val(),
        };
        var jsonData = JSON.stringify(formData);
        overlayStart();
        $.ajax({
            type: 'POST',
            url: 'reset-password',
            contentType: 'application/json',
            data: jsonData,
            complete: function (xhr) {
                overlayStop();
                global = xhr;
                var responseJSON = JSON.parse(xhr.responseText);
                console.log(responseJSON);
                if (xhr.status.toString().charAt(0) != '2') {
                    $('#errorContainer').html(responseJSON.data.message).show();
                    $('#password').val('');
                    $('#errorContainer').addClass('animated shake');
                    setTimeout(function () {
                        $('#errorContainer').removeClass('animated shake');
                    }, 1000);

                } else if (xhr.status.toString().charAt(0) == '2') {
                    $('#errorContainer').hide();
                    console.log(responseJSON.data);
                    $('#successContainer').html(responseJSON.data.message).show();

                }
            },
            success: function (response) {
                //console.log("success", response);
            },
            error: function (error) {
                console.error("error", error);
            }
        });
    }
    $(document).ready(function () {
        $('#loginForm').on('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default form submission
                submitForm();
            }
        });
    });
</script>
{% endblock %}