Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
  # Redirect to the public folder
  RewriteEngine On
  # RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  RewriteRule ^(.+)\.jpeg$ - [L]
  RewriteRule ^(.+)\.jpg$ - [L]
  RewriteRule ^(.+)\.png$ - [L]
  RewriteRule ^(.+)\.woff2$ - [L]
  RewriteRule ^(.+)\.woff$ - [L]
  RewriteRule ^(.+)\.ttf$ - [L]
  RewriteRule ^(.+)\.txt$ - [L]
  RewriteRule ^(.+)\.min.css.map - [L]
  RewriteRule ^(.+)\.min.css$ - [L]
  RewriteRule ^(.+)\.css$ - [L]
  RewriteRule ^(.+)\.min.js.map - [L]
  RewriteRule ^(.+)\.min.js$ - [L]
  RewriteRule ^(.+)\.js$ - [L]

  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

  # Redirect to HTTPS
  # RewriteEngine On
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
